/* Header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 5rem; /* Defina uma altura adequada para o header */
}

/* Para os títulos Pública e Privada (usando Poppins Semi-Bold) */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Semi-Bold */
    font-size: 2rem; /* Ajuste o tamanho conforme necessário */
    position: fixed;
}

/* Para o subtítulo "PESQUISE MATÉRIAS" (usando Poppins Medium) */
.pesquise {
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Medium */
    font-size: 1.5rem; /* Ajuste o tamanho conforme necessário */
    border-radius: 0.7rem;
    background-color: rgba(238, 238, 238, 0.926);
    color: rgb(77,210,255);
    padding: 0.5rem 1rem;
}

/* Para as notas (usando Sans-serif light) */
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; /* Light para manter a leveza do texto */
    font-size: 1rem; /* Ajuste o tamanho conforme necessário */
}

/* Para alinhar o texto "SALVOS" à esquerda */
.salvo {
    align-self: flex-start;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 2rem; /* Adiciona um espaço no topo para evitar a sobreposição */
}

/* Estilização da imagem */
img {
    position: absolute;
    top: -10%;
    right: -2%;
    width: 3.5rem;
}
