header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 5rem; /* Defina uma altura adequada para o header */
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 8rem; /* Adiciona um espaço no topo para evitar a sobreposição */
    color: rgb(77, 210, 255);
}

img {
    position: absolute;
    right: 0%;
    width: 4rem;
}

h1 {
    color: rgb(77, 210, 255);
}


.criar_sala{background-color: darkgray;
margin-top: 0.5rem;
padding:0.3rem;
border-radius:0.7rem
}
.caixa_nome_sala{
    background-color: darkgray;
margin-top: 1rem;
padding:1rem 6rem;
border-radius:0.5rem

}
/* nova sala**/
